specs/simple.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:wp="urn:ns:yadt:simplewpml"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <ref name="document" />
    </start>
    <define name="document">
        <element name="document" ns="urn:ns:yadt:simplewpml">
            <a:documentation>
                <p>Root of a document.</p>
            </a:documentation>
            <ref name="page" />
        </element>
    </define>
    <define name="page">
        <element name="page" ns="urn:ns:yadt:simplewpml">
            <a:documentation>
                <p>A page.</p>
            </a:documentation>
            <ref name="block" />
        </element>
    </define>
    <define name="block">
        <a:documentation>
            <p>The content of a page.</p>
        </a:documentation>
        <choice>
            <ref name="p" />
        </choice>
    </define>
    <define name="p">
        <element name="p" ns="urn:ns:yadt:simplewpml">
            <a:documentation>
                <p>A block of text organized into one or more runs or nested tables or objects.</p>
            </a:documentation>
            <oneOrMore>
                <choice>
                    <ref name="run" />
                </choice>
            </oneOrMore>
            <optional>
                <attribute name="align">
                    <a:documentation>
                        <p>The horizontal alignment of the paragraph contents.</p>
                        <p>The value "char" indicates alignment on a specific character, e.g., on
                            the decimal point in numbers.</p>
                    </a:documentation>
                    <choice>
                        <value>both</value><!-- Synonym for justify -->
                        <value>justify</value>
                        <value>center</value>
                        <value>distribute</value>
                        <value>end</value>
                        <value>highKashida</value>
                        <value>lowKashida</value>
                        <value>mediumKashida</value>
                        <value>numTab</value>
                        <value>right</value>
                        <value>start</value>
                        <value>thaiDistribute</value>
                    </choice>
                </attribute>
            </optional>
        </element>
    </define>
    <define name="run">
        <element name="run" ns="urn:ns:yadt:simplewpml">
            <a:documentation>
                <p>A sequence of one or more characters to which a specific style is applied.
                    May contain inline elements such as bookmarks, symbols, etc.
                </p>
                <p>See Office Open Part 1, ยง17.3.2.25 r (Text Run)</p>
            </a:documentation>
            <zeroOrMore>
                <choice>
                    <text />
                    <ref name="break" />
                    <ref name="symbol" />
                    <ref name="math" />
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="break">
        <element name="break" ns="urn:ns:wordinator:simplewpml">
            <a:documentation>
                <p>Represents a literal break point: line, column, or page.</p>
                <p>The value "textWrapping" is from the Microsoft specification and is
                    the same as "line".</p>
            </a:documentation>
            <empty />
            <optional>
                <attribute name="type">
                    <choice>
                        <value>line</value>
                        <value>column</value>
                        <value>page</value>
                        <value>textWrapping</value>
                    </choice>
                </attribute>
            </optional>
        </element>
    </define>
    <define name="symbol">
        <element name="symbol" ns="urn:ns:wordinator:simplewpml">
            <a:documentation>
                <p>a simple as special character which can be distinguished by specific parser</p>
            </a:documentation>
            <attribute name="src">
                <a:documentation>
                    <p>the path to a svg or png file to be used as a symbol</p>
                </a:documentation>
            </attribute>
        </element>
    </define>
    <define name="math">
        <element name="math" ns="urn:ns:yadt:simplewpml">
            <a:documentation>
                <p>a math expression usually expressed in mathjax</p>
            </a:documentation>
            <text />
        </element>
    </define>

</grammar>